/Ciclo_para_1/nbproject/private/
/Ciclo_para_1/build/
/Ciclo_para_2/nbproject/private/
/Ciclo_para_2/build/
/Ciclo_para_3/nbproject/private/
/Ciclo_para_3/build/
/Ciclo_para_4/nbproject/private/
/Ciclo_para_4/build/
/Ciclo_para_6/nbproject/private/
/Ciclo_para_6/build/
/Ciclo_para_7/nbproject/private/
/Ciclo_para_8/nbproject/private/
/Ciclo_para_8/build/
/Ciclo_para_9/nbproject/private/
/Ciclo_para_9/build/
/Ciclo_para_switch_10/nbproject/private/
/Ciclo_para_switch_10/build/
