/Ciclo_mientras_1/nbproject/private/
/Ciclo_mientras_1/build/
/Ciclo_mientras_switch_2/nbproject/private/
/Ciclo_mientras_switch_2/build/
/Ciclo_while_switch_3/nbproject/private/
/Ciclo_while_switch_3/build/
/ejercicios_basicos_1/nbproject/private/
/ejercicios_basicos_1/build/
/ejercicios_basicos_1/dist/
